<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<!--    This tells that this app is based on annotation  based configuration-->
    <context:annotation-config/>
    <context:component-scan base-package="com.devni"/>

    <!--<bean name="employeeRepository"
          class="com.devni.training.salesmanager.repository.HibernateEmployeeRepositoryImpl"/>

    <bean name="employeeService" class="com.devni.training.salesmanager.service.EmployeeServiceImpl" autowire="byName">
&lt;!&ndash;        <property name="employeeRepository" ref="employeeRepository"></property>&ndash;&gt;
&lt;!&ndash;        This is constructor injection&ndash;&gt;
&lt;!&ndash;        <constructor-arg index="0" ref="employeeRepository"></constructor-arg>&ndash;&gt;
    </bean>-->
</beans>

