<div class="bg-1">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="{{book.retrievedImage}}}" alt="{{book.title}}">
          <div class="container-des">
            <p><strong>{{book.title}}</strong></p>
            <p>Available Copies: {{book.noOfCopies}}</p>
            <p>ISBN: {{book.isbn}}</p>
            <p>Author/s: </p>
            <!--<div *ngfor="let author of book.authors">
              <p>{{author.name}}</p>
            </div>-->
            <button class="btn btn-space">Borrow</button>
            <button class="btn btn-space">Reserve</button>
            <button class="btn btn-space">Star</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<table>
  <tr>
    <td>Book Id</td>
    <td>{{book.id}}</td>
  </tr>
  <tr>
    <td>Book Name</td>
    <td>{{book.title}}</td>
  </tr>
  <tr>
    <td>Book ISBN</td>
    <td>{{book.isbn}}</td>
  </tr>
  <tr>
    <td>Book Copies</td>
    <td>{{book.noOfCopies}}</td>
  </tr>
</table>-->

<!--
<div class="col-sm-4">
  <div class="thumbnail">
    <img src="assets/harry_potter/resized/book-2.jpg" alt="1">
    <div class="container-des">
      <p><strong>Harry Potter & the Chamber of Secrets - Book 2</strong></p>
      <p>Sat. 28 November 2015</p>
      <button class="btn btn-space">Borrow</button>
      <button class="btn btn-space">Reserve</button>
      <button class="btn btn-space">Star</button>
    </div>
  </div>
</div>
<div class="col-sm-4">
  <div class="thumbnail">
    <img src="assets/harry_potter/resized/book_3.jpg" alt="3">
    <div class="container-des">
      <p><strong>Harry Potter & the Prisoner of Azkaban - Book 3</strong></p>
      <p>Sun. 29 November 2015</p>
      <button class="btn btn-space">Borrow</button>
      <button class="btn btn-space">Reserve</button>
      <button class="btn btn-space">Star</button>
    </div>
  </div>
</div>

<div class="col-sm-4">
  <div class="thumbnail">
    <img src="assets/harry_potter/resized/book_4.jpg" alt="4">
    <div class="container-des">
      <p><strong>Harry Potter - Goblet of Fire - Book 4</strong></p>
      <p>Fri. 27 November 2015</p>
      <button class="btn btn-space">Borrow</button>
      <button class="btn btn-space">Reserve</button>
      <button class="btn btn-space">Star</button>
    </div>
  </div>
</div>

<div class="col-sm-4">
  <div class="thumbnail">
    <img src="assets/lord_of_the_rings/resized/book_1.jpg" alt="5">
    <div class="container-des">
      <p><strong>Lord of the Rings - Book 1</strong></p>
      <p>Fri. 27 November 2015</p>
      <button class="btn btn-space">Borrow</button>
      <button class="btn btn-space">Reserve</button>
      <button class="btn btn-space">Star</button>
    </div>
  </div>
</div>

<div class="col-sm-4">
  <div class="thumbnail">
    <img src="assets/lord_of_the_rings/resized/book_2.jpg" alt="6">
    <div class="container-des">
      <p><strong>Lord of the Rings - Book 2</strong></p>
      <p>Fri. 27 November 2015</p>
      <button class="btn btn-space">Borrow</button>
      <button class="btn btn-space">Reserve</button>
      <button class="btn btn-space">Star</button>
    </div>
  </div>
</div>

<div class="col-sm-4">
  <div class="thumbnail">
    <img src="assets/lord_of_the_rings/resized/book_3.jpg" alt="7">
    <div class="container-des">
      <p><strong>Lord of the Rings - Book 3</strong></p>
      <p>Fri. 27 November 2015</p>
      <button class="btn btn-space">Borrow</button>
      <button class="btn btn-space">Reserve</button>
      <button class="btn btn-space">Star</button>
    </div>
  </div>
</div>

<div class="col-sm-4">
  <div class="thumbnail">
    <img src="assets/percy_jackson/resized/book-1.jpg" alt="8">
    <div class="container-des">
      <p><strong>Percy Jackson - The Lightening Thief - Book 1</strong></p>
      <p>Fri. 27 November 2015</p>
      <button class="btn btn-space">Borrow</button>
      <button class="btn btn-space">Reserve</button>
      <button class="btn btn-space">Star</button>
    </div>
  </div>
</div>

<div class="col-sm-4">
  <div class="thumbnail">
    <img src="assets/percy_jackson/resized/book-2.jpg" alt="9">
    <div class="container-des">
      <p><strong>Percy Jackson - Sea of Monsters - Book 2</strong></p>
      <p>Fri. 27 November 2015</p>
      <button class="btn btn-space">Borrow</button>
      <button class="btn btn-space">Reserve</button>
      <button class="btn btn-space">Star</button>
    </div>
  </div>
</div>-->
<!--</div>
</div>
</div>-->


